:root {
    --accent: orange;
}

html,
body {
    height: 100%;
}

.footer {
    position: sticky;
    top: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* make all icons kinda white in color */
img {
    filter: invert(80%);
}